*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0b0b45, #1a1a60);
    overflow: hidden;
}

.box-container{
    position: relative;
}

.gift-box{
    width: 150px;
    height: 150px;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 200, 0, 0.5),
                0 0 40px rgba(255, 150, 0, 0.3);
    transition: box-shadow 0.3s;

}

.box-base{
    width: 100%;
    height: 100%;
    background-color: #ff4444;
    border-radius: 10px;
}

.box-lid{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40%;
    background-color: #ff7777;
    border-radius: 10px 10px 0 0;
}

@keyframes lidbounce {
    0%, 100%{ transform: translateY(0);}
    50% {transform: translateY(-10px);}
    
}

.box-lid{
    animation: lidbounce 1s infinite;
}

.gift-box:hower{
    box-shadow: 0 0 40px rgba(255, 255, 0, 1),
                0 0 80px rgba(255, 200, 0, 0.7);
}

.gift-box.open .box-lid{
    transform: rotateX(140deg);
    transition: transform 0.8s ease;
}

.rocket{
    position: absolute;
    bottom: 50px;
    width: 20px;
    height: 60px;
    background: linear-gradient(to top,#ffb400, #ff0000);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.diwali-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 0 10px gold;
    display: none;
}

@keyframes launch {
    0% {bottom: 50px; }
    100% {bottom: 90%; opacity: 0;}
}

.rocket.launch{
    animation: launch 1.5s ease-out forwards;
}

@keyframes glowText {
  0% { opacity: 0; text-shadow: none; }
  100% { opacity: 1; text-shadow: 0 0 20px gold, 0 0 40px orange; }
}

.diwali-text.show {
  display: block;
  animation: glowText 1s ease-in forwards;
}

.fireworks {
  position: absolute;
  bottom: 90%;      
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  pointer-events: none;
  display: none;
}


.fireworks span {
  position: absolute;
  width: 4px;
  height: 4px;
  background: gold;
  border-radius: 50%;
  animation: spark 1s ease-out forwards;
}

@keyframes spark {
  0% { transform: translate(0,0); opacity: 1; }
  100% { 
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
    opacity: 0;
  }
}

.confetti {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  pointer-events: none;
  display: none;
}

.confetti span {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: hsl(var(--hue), 100%, 50%);
  opacity: 0.8;
  border-radius: 2px;
  animation: fall 2s linear forwards;
}

@keyframes fall {
  0% { transform: translate(0,0) rotate(0deg); opacity: 1; }
  100% { transform: translate(var(--x), var(--y)) rotate(360deg); opacity: 0; }
}

