body{
    background-color: rgb(244, 244, 197);
}

h1{
    text-align: center;
    font-size: 45px;
}
p{
    background-color: rgba(119, 49, 49, 0.583);
    color: black;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: left;
    border-radius: 15px;    
}

button{
    background-color: rgba(119, 49, 49, 0.583);
    color: black;
    padding: 4px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    
}

div{
    text-align: center;
}
